

/*GLOBAL*/
body {
  font-family: 'Open Sans', sans-serif;
}
.heading {
  font-family: 'Merriweather', serif;
}

/*NAVIGATION*/
nav {
  height: 5.5rem;
  max-height: 100%;
  border-bottom: 1px solid lightgray;
  text-transform: uppercase;
}
.nav-link {
  height: 100%;
  padding-right: .7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.25s ease-in;
}
.nav-link:hover {
  background-color: #F5F5F5;
  border-bottom: 3px solid #b2c0cd;
}
#navbarNavDropdown{
  height: 100%;
}

/*HERO SECTION*/
#mainSlider img {
  width: 100%;
  height: auto;
  max-height: 500px;
}
#stripedBars {
  height: 15px;
  background-image:url('../img/slipes.png');
  background-repeat: repeat-x;
}

/*ABOUT ME SECTION*/
.aboutMe h3 {
  color: #a5c6d3;
  margin-top: 1rem;
  text-align: center;
}
.aboutMe .col-sm {
  transition: 0.25s ease-in;
}
.aboutMe .col-sm:hover {
  background-color: #EBEBEB;
}
/*BLOG AND PREFERENCES*/
.blogReferences {
  display: flex;
  justify-content: space-around;
}
/*WHO IS PAGE*/
#whoIs h5 {
  color: #78acc2;
  text-align: center;
}
.skillsTweets {
  display: flex;
  justify-content: space-around;
}
.progress-bar {
  justify-content: center;
}


/*PORTFOIO OF WORK*/
.portfolioHeading {
  background-color: white;
  height: 100%;
  display:inline;
  text-align: left;
  padding-right: 1%;
  font-weight: bold;
}
#portfolioCards{
  border: none;
}
#portfolioCards img {
  width: 100%;
  transition: all .2s ease-in-out;
}
#portfolioCards img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#portfolioCards h4 {
  text-align: center;
}
/*FOOTER*/
#footer {
  background-color: #1a1a1a;
  color: gray;
  width: 100%;
}
#footer .row {
  padding-top: 20px;
}
